matplotlib==3.10.6
njord==0.0.2
numpy==2.1.3
opencv-python==4.12.0.88
opencv-python-headless==4.12.0.88
pandas==2.2.2
Pillow==11.3.0
playwright==1.54.0
requests==2.32.4
scipy==1.16.2
seaborn==0.13.2
shap==0.48.0
torch==2.8.0
torchvision==0.23.0
tqdm==4.67.1
ultralytics==8.3.199
